<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</head>
<body>
    <h1>Welcome, <span id="username"></span>!</h1>
    <h2>Your info:</h2>
    <p>Email: <span id="email"></span></p>

        <!-- ✅ Новый блок с балансом -->
    <h2>Balance: $<span id="balance">0.00</span></h2>
    <input type="number" id="depositAmount" placeholder="Enter amount" min="1">
    <button id="depositButton">Deposit</button>
    
    <ul>
        <li>ID: <span id="userId"></span></li>
        <li>Role: <span id="role"></span></li>
        <li>Registration Date: <span id="created_at"></span></li>
    </ul>

    <ul id="userInfo"></ul>

    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
    <button id="goToHome">Go to Home</button>
    <button id="logout">Log Out</button>
</body>
</html>
